<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="description" content="Angular Page Base">
    <meta charset="UTF-8">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">    
    <!-- Angular   -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/angscripts.js"></script>    
</head>
<body ng-controller="main" ng-cloak style="position:relative;" data-spy="scroll" data-target="#navigation-barre">
    <div class="container">
        <div id="navigation-barre" style="position:fixed; top:0; z-index:1000; width:100%; background: white;">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#presentazione">Mi Presento</a></li>
                <li role="presentation"><a href="#esperienze">Esperienze</a></li>
                <li role="presentation"><a href="#contenutomisto">Qualcosa</a></li>
                <li role="presentation"><a href="#formazione">Formazione</a></li>
            </ul>    
        </div>
        <div style="margin-top: 50px"></div>
        <div class="row">
            <div class="col-md-12" id="presentazione">
                <h1>Lorem ipsum dolor sit amet</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac auctor nisi. Nulla facilisis turpis semper, molestie turpis quis, dictum mi. Vestibulum in metus finibus, feugiat magna nec, sollicitudin sapien. Donec dui elit, feugiat ut pellentesque sed, egestas eu nulla. Praesent ut imperdiet augue, ut fermentum lorem. Sed efficitur ligula vitae elit molestie, in tempus quam imperdiet. Maecenas at ligula quis tellus sodales accumsan et ac sem. Vestibulum eget blandit nisl. Ut erat metus, tincidunt eget ultricies id, cursus et tortor.
                <br><br>
                Quisque id venenatis nunc, ac porta mi. Pellentesque quis aliquam dui. Nullam eu ante eleifend, gravida dui sit amet, volutpat ligula. Suspendisse sodales, metus sit amet fringilla interdum, libero augue efficitur neque, feugiat pretium sapien orci eu diam. Pellentesque facilisis arcu scelerisque nunc malesuada, ac pellentesque ex gravida. Phasellus laoreet vitae dui ac consectetur. Nulla finibus malesuada blandit. Aenean congue elementum facilisis. Ut auctor semper euismod. Suspendisse sit amet arcu a mi suscipit sollicitudin. Sed in lectus iaculis, malesuada quam eget, efficitur urna. Morbi euismod nulla est, eget finibus turpis suscipit maximus. Vivamus gravida dolor vel dapibus ultrices. Mauris at suscipit lectus. Nulla efficitur quis elit eget pulvinar.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" ng-repeat="e in exps" id="esperienze">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{e.Employer.Name}} ({{e.Period.From._day}}/{{e.Period.From._month}}/{{e.Period.From._year}} - <span ng-if="e.Period.Current=='true'">Oggi</span><span ng-if="e.Period.Current!=='true'">{{e.Period.To._day}}/{{e.Period.To._month}}/{{e.Period.To._year}}</span> )</h3> 
                    </div>
                    <div class="panel-body"> 
                        <h4>{{e.Position.Label}}</h4>
                        <ul ng-repeat="acts in e.Activities.ul.li">
                            <li>{{acts}}</li>
                        </ul>
                    </div>                                                
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="contenutomisto">
                <input type="text" placeholder="Cerca" ng-model="filtro">
                <table class="table table-striped">
                    <thead>
                        <th>#{{info}}</th>
                        <th>Primo Campo</th>
                        <th>Secondo Campo</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in clients | filter : filtro">
                            <td>{{c.id}}</td>
                            <td>{{c.first}}</td>
                            <td>{{c.last}}</td>
                        </tr>
                    </tbody>        
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="formazione">
                <div class="list-group-item active">Corsi</div>
                <ul class="list-group" id="corsielenco">
                    <li class="list-group-item" ng-repeat="Education in corsi" data-toggle="collapse" data-parent="#corsielenco" href="#elenco-{{$index}}" aria-expanded="true" aria-controls="collapseOne">
                        <span class="badge">{{Education.Activities.detail.length}}</span>{{Education.Title}}
                        <div id="elenco-{{$index}}" class="panel-collapse collapse">
                            <ul ng-repeat="d in Education.Activities.detail">
                                <li>{{d}}</li>
                            <ul>
                        </div>
                    </li>
                </ul>        
            </div>
        </div>            
    </div>
</body>
</html>